/* ======== Fonts ======= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Noto+Serif+Vithkuqi:wght@500&family=Quicksand:wght@300&family=Satisfy&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&display=swap");

/* ========= Topics ======== */


/* 
1. Reset Global Styles
2. Navbar
3. Banner Slider
4. Category
5. About us
6. Featured Items
7. Blogs
8. Footer
*/


/* ======= Reset Global Styles ====== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121111;
}


/* ========= Navbar Start ======== */

.navbar {
    background-color: #8f1212;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.navbar-brand {
    margin-left: 25px;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.search-form {
    display: flex;
}

.search-icon {
    cursor: pointer;
    color: #fff;
    margin-left: 5px;
}


/* Add this CSS to hide the navbar items */

#navbarSupportedContent.hide .nav-item {
    display: none;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
    color: #fff;
    margin-right: 10px;
}

.drop-parent {
    position: relative;
}

.action-item {
    cursor: pointer;
    padding: 1rem 0.8rem;
}

.drop-parent .drop-item {
    position: absolute;
    z-index: 9;
    right: 0;
    min-width: 150px;
    display: none;
}

.drop-parent .drop-item .auth-drop ul li {
    display: flex;
    margin-bottom: 0.5rem;
}

.drop-parent .drop-item .auth-drop ul li a:hover {
    color: rgb(241, 47, 47);
}

.drop-parent .drop-item .auth-drop ul li a {
    color: #000;
    text-decoration: none !important;
}

.auth-drop ul {
    margin-bottom: 0;
}

.drop-parent:hover .drop-item {
    display: block;
}

.drop-item .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e4e4e4;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}


/* ======== Navbar End ======= */


/* ========= Banner Carousel Start ========= */

.carousel-inner,
.carousel-item img {
    height: 480px;
    object-fit: cover;
}

#carouselNewLaunches .carousel-item {
    display: flex;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 5px 7px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    transition: opacity .6s ease;
}


/* ========= Banner Carousel End ========= */


/* ========= Category Start ======== */

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)*-1);
    margin-right: calc(var(--bs-gutter-x)*-0.5);
    margin-left: calc(var(--bs-gutter-x)*-0.5);
}

.items-list.swiper-container-pointer-events {
    touch-action: pan-y;
}

.items-list.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.items-list.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.items-list.swiper-slide {
    height: auto;
    width: 205.2px;
    margin-right: 30px;
}

.items-list.swiper-slide {
    padding-bottom: 1px;
}

.items-list.swiper-slide {
    /* flex-shrink: 0; */
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.category-tile a {
    color: #fff;
}

.text-center {
    text-align: center!important;
}

.category-tile img {
    width: 100%;
    border-radius: 10px;
    max-height: 200px;
}

.items-list {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.items-list a {
    text-decoration: none;
}

.items-list a:hover {
    color: #cf1d1d;
    font-weight: 400;
}

.items-list .swiper-pagination {
    display: none;
}


/* ======== Category End ======== */


/* ========= About us Start ========= */

#about-us {
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    max-height: 500px;
}

.container-fluid .container-about {
    display: block;
    padding: 4rem;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-about {
    transform: translate(0px, -350px);
}

.container-about h1 {
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.container-about p {
    text-align: justify;
    align-items: center;
}


/* ========= About us End ======== */


/* ========= Featured Items Start ======== */

.owl-carousel {
    display: block;
}

.featured-items {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.featured-items h2 {
    text-align: center;
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    color: #fff;
}

#owl-newLaunches .item {
    margin: 3px;
}

#owl-newLaunches .item-body {
    display: block;
    width: 80%;
    transform: translate(120px, 10px);
    height: auto;
    max-height: 450px;
    background: #780319;
    border-radius: 20px;
}

#owl-newLaunches .owl-item img {
    width: 50%;
    max-height: 450px;
    border-radius: 20px;
}

#owl-newLaunches .carousel-caption {
    transform: translate(250px, -300px);
}

#owl-newLaunches .owl-stage-outer {
    margin-top: 2rem;
}

.owl-theme .owl-nav {
    display: none;
}

.owl-theme .owl-dots {
    margin-bottom: 3rem;
    margin-top: 2rem;
}


/* ========== Featured Items End ========== */


/* ========= Blogs Start ======== */

#blogs {
    background-color: white;
    position: relative;
    width: calc(min(47rem, 90%));
    margin: 0 auto;
    min-height: 100vh;
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18px;
}

#blogs h2 {
    letter-spacing: 0.8px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.2;
    color: #000;
}

#blogs .swiper-container {
    position: relative;
}

#blogs .swiper {
    width: 100%;
    padding: 60px 0 95px 0;
}

#blogs .card img {
    width: 100%;
    height: 230px;
    object-fit: fill;
}

#blogs .card-body {
    background-color: #166dad;
    color: white;
}

#blogs .card {
    border: none;
}

#blogs .card p {
    min-height: 50px;
}

#blogs .swiper-slide {
    width: 10rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;
    border-radius: 12px;
    h3 {
        /* color: #fff; */
        font-size: 2.5rem;
        line-height: 1.4;
        margin-bottom: 0.625rem;
        letter-spacing: 0.8px;
        position: relative;
    }
    p {
        /* color: #fff; */
        line-height: 1.6;
        font-size: 0.8rem;
    }
    .slide-content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -45%);
        width: 90%;
    }
}

#blogs .swiper-button-prev {
    background: white;
    border-radius: 50%;
    top: 47%;
    left: -30px;
    width: 50px;
    height: 50px;
    /* box-shadow: 0px 2px 11px rgb(0 0 0 / 17%); */
    &::after {
        font-size: 1.4rem;
        content: "";
    }
    svg {
        width: 25px;
    }
}

#blogs .swiper-button-next {
    background: white;
    border-radius: 50%;
    top: 47%;
    right: -30px;
    width: 50px;
    height: 50px;
    /* box-shadow: 0px 2px 11px rgb(0 0 0 / 17%); */
    &::after {
        font-size: 1.4rem;
        content: "";
    }
    svg {
        width: 25px;
    }
}

#blogs .swiper-button-prev,
#blogs .swiper-button-next {
    display: none;
    @media (min-width: 760px) {
        display: flex;
    }
}


/* ========= Blogs End ======== */


/* ========= Footer Start ======== */

.app-footer {
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 1rem;
    padding-top: 4rem;
}

.app-footer a {
    text-decoration: none;
    color: #fff;
}

.app-footer a:hover {
    color: #ff2617;
}

.app-footer ul li {
    list-style: none;
}

.app-footer ul {
    padding: 0;
}

.footer-menu ul li a i {
    margin-right: 5px;
    font-size: 18px;
    color: #ffffff;
}


/* ========= Footer End ========== */